@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --green4 : #425F57;
  --green1 : #749F82;
  --green2 : #C0EFB8;
  --green3 : #C2CAC1;
  --white : #EFF5F5;
  --black : #393E46;
  --gray : #D9D9D9;
}

* {
  font-family: 'Poppins', sans-serif;
}

.green-text-link {
  color: var(--green1);
}

body, html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: none;
}

/*-- Landing Page --*/

.main {
  height: 100vh;
  background-color: var(--green1);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  gap: 1em;
  align-items: center;
  justify-content: center;
}

.left-landing {
  padding: 1em;
  width: 60%;
}

.greeting {
  margin: 0 auto;
  width: 50%;
}

.greeting img {
  width: 200px;
  height: auto;
}

.right-landing {
  padding: 1em;
  text-align: center;
  width: 40%;
}

.right-landing button {
  background-color: var(--green4);
  color: var(--white);
  padding: 1em;
  width: 40%;
  text-align: center;   
  border: none;
  border-radius: 7px;
}

.right-landing button:hover {
  cursor: pointer;
}

/*-- Landing Page --*/


/*-- Login Page --*/

.login-main {
  height: 100vh;
  background-color: var(--white);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  gap: 1em;
  align-items: center;
  justify-content: center;
}

.left-side-login {
  width: 45%;
  text-align: center;
  color: var(--white);
  background-color: var(--green1);
  height: 100vh;
}

.left-side-login img {
  width: 350px;
  height: auto;
}

.greeting-login {
  margin-top: 15vh;
}

.right-side-login {
  width: 55%;
  text-align: center;
  color: var(--green1);
}

.form-login {
  width: 90%;
  margin: 0 auto;
  padding: 1em;
}

.form-login form {
  text-align: left;
  color: var(--black);
}

.input-column {
  width: 95%;
  margin: auto;
  padding: 1em;
  border: none;
  border-radius: 7px;
  background-color: var(--gray);
}

.btn-login-register {
  width: 99%;
  margin: 0 auto;
  padding: 1em;
  border: none;
  border-radius: 7px;
  background-color: var(--green1);
  color: var(--white);
}

.btn-login-register:hover {
  cursor: pointer;
} 

/*-- Login Page --*/

/*-- SignIn Page --*/



/*-- SignIn Page --*/

/*-- Terms and Service Page --*/

.terms {
  background-color: var(--white);
  color: var(--black);
  width: 40em;
  margin : 0 auto;
  padding: 1em;
  text-align: center;
  border-radius : 7px;
}

/*-- Terms and Service Page --*/

/*-- Not Found Page --*/
.not-found {
  background-color: var(--white);
  color: var(--black);
  width: 40em;
  margin : 0 auto;
  padding: 1em;
  text-align: center;
  border-radius : 7px;
}
/*-- Not Found Page --*/