@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --green4: #425f57;
  --green1: #749f82;
  --green2: #c0efb8;
  --green3: #c2cac1;
  --white: #eff5f5;
  --black: #000;
  --gray: #d9d9d9;
}

* {
  font-family: 'Poppins', sans-serif;
}

.green-text-link {
  color: var(--green1);
}

body,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: none;
}

/*-- Landing Page --*/

.main {
  height: 100vh;
  background-color: var(--green1);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  gap: 1em;
  align-items: center;
  justify-content: center;
}

.left-landing {
  padding: 1em;
  width: 60%;
}

.greeting {
  margin: 0 auto;
  width: 50%;
}

.greeting img {
  width: 200px;
  height: auto;
}

.right-landing {
  padding: 1em;
  text-align: center;
  width: 40%;
}

.right-landing button {
  background-color: var(--green4);
  color: var(--white);
  padding: 1em;
  width: 40%;
  text-align: center;
  border: none;
  border-radius: 7px;
}

.right-landing button:hover {
  cursor: pointer;
}

/*-- Landing Page --*/
.navbar {
  background-color: var(--green4);
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
  padding: 2vh 1vw 1vh 1vw;
  font-size: 100%;
  display: flex;
  justify-content: center;
}
.navbar > a {
  color: var(--white);
  float: left;
  display: block;
  text-decoration: none;
  position: block;
  padding: 2vh 1vw 1vh 1vw;
  border-radius: 5px;
  font-weight: 800px;
  text-align: center;
}

.navbar > a:hover {
  color: var(--black);
  background: var(--white);
}

.Testimoni {
  background-color: var(--green1);
}

.section-testi {
  padding-left: 5vw;
  padding-right: 5vw;
  display: flex;
  padding-bottom: 100px;
}

.box-model1 {
  color: var(--black);
  text-align: center;
  font-size: 200%;
  margin: 0;
}

.box-testi {
  padding-top: 5vh;
  border-radius: 10px;
  background-color: var(--green3);
  color: var(--black);
  font-size: 100%;
  margin: 10px;
}

.quote {
  padding: 2vh 2vw 2vh 2vw;
}
.nama {
  font-weight: 700;
  font-style: italic;
  text-align: right;
  padding: 2vh 2vw 2vh 2vw;
}

.Teams {
  background-color: var(--green1);
}
.kolomprofil {
  padding-top: 10vh;
  padding-left: 5vw;
  padding-right: 5vw;
  display: flex;
  gap: 5vw;
  justify-content: center;
}

.profil {
  width: 15vw;
  height: fit-content;
  border-radius: 10px;
  box-shadow: 6px 2px 2px 2px #666666;
  border: 4px solid var(--black);
}
.kata {
  font-size: 100%;
  color: var(--black);
}
.icon {
  display: flex;
  gap: 5vh;
  flex-direction: column;
  justify-content: center;
}

.iconx:hover {
  background: var(--white);
}
.iconx {
  width: 5vw;
  height: fit-content;
  background: var(--green1);
}

/*-- image slider --*/

.offer {
  background-color: var(--green1);
}

.slideStyles {
  width: 100%;
  height: 70%;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  gap: 150%;
}

.rightArrowStyles {
  display: inline;
  font-size: 45px;
  color: #fff;
  cursor: pointer;
}

.leftArrowStyles {
  display: inline;
  font-size: 45px;
  color: #fff;
  cursor: pointer;
}

.sliderStyles {
  height: 100%;
}

.dotsContainerStyles {
  justify-content: center;
  display: flex;
  gap: 5%;
}

.dotsStyles {
  display: flex;
  cursor: pointer;
  font-size: 20px;
}

.containerStyles {
  width: 500px;
  height: 500px;
  margin: 0 auto;
  padding: 0;
}

/*-- image slider --*/

/*-- Login Page --*/

.login-main {
  height: 100vh;
  background-color: var(--white);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  gap: 1em;
  align-items: center;
  justify-content: center;
}

.left-side-login {
  width: 45%;
  text-align: center;
  color: var(--white);
  background-color: var(--green1);
  height: 100vh;
}

.left-side-login img {
  width: 350px;
  height: auto;
}

.greeting-login {
  margin-top: 15vh;
}

.right-side-login {
  width: 55%;
  text-align: center;
  color: var(--green1);
}

.form-login {
  width: 90%;
  margin: 0 auto;
  padding: 1em;
}

.form-login form {
  text-align: left;
  color: var(--black);
}

.input-column {
  width: 95%;
  margin: auto;
  padding: 1em;
  border: none;
  border-radius: 7px;
  background-color: var(--gray);
}

.btn-login-register {
  width: 99%;
  margin: 0 auto;
  padding: 1em;
  border: none;
  border-radius: 7px;
  background-color: var(--green1);
  color: var(--white);
}

.btn-login-register:hover {
  cursor: pointer;
}

/*-- Login Page --*/

/*-- SignIn Page --*/

/*-- SignIn Page --*/

/*-- Terms and Service Page --*/

.terms {
  background-color: var(--white);
  color: var(--black);
  width: 40em;
  margin: 0 auto;
  padding: 1em;
  text-align: center;
  border-radius: 7px;
}

/*-- Terms and Service Page --*/

/*-- Not Found Page --*/
.not-found {
  background-color: var(--white);
  color: var(--black);
  width: 40em;
  margin: 0 auto;
  padding: 1em;
  text-align: center;
  border-radius: 7px;
}
/*-- Not Found Page --*/
